# name: CI Deploy EducAPI

# on:
#     push:
#         branches: [ master ]

# jobs:
    
#     compile:
#         runs-on: ubuntu-latest
#         name: Compile Spring Boot project
#         steps:
#             - uses: actions/checkout@v2
#             - name: Set up JDK 11
#             uses: actions/setup-java@v1
#             with:
#                 java-version: 11
#             - name: Build with Maven
#                 run ./mvnw install

#     tests:
#         runs-on: ubuntu-latest
#         name: Runing tests
#         needs: [compile]
#         steps:
#             - uses: actions/checkout@v2
#             - name: Set up JDK 11
#             uses: actions/setup-java@v1
#             with:
#                 java-version: 11
#             - name: Run unit tests
#                 run: ./mvnw test

#     # https://github.com/marketplace/actions/build-and-push-docker-images
#     docker-login:
#         runs-on: ubuntu-latest
#         name: Docker login
#         needs: [compile, tests]
#         uses: docker/login-action@v1
#         with: 
#             username: ${{ secrets.DOCKER_USER }}
#             password: ${{ secrets.DOCKER_PASSWORD }}

#     # https://github.com/marketplace/actions/build-and-push-docker-images
#     build-and-push-dockerfile:
#         runs-on: ubuntu-latest
#         name: Build and push Dockerfile
#         needs: [docker-login]
#         uses: docker/build-push-action@v2
#         with:
#             context: .
#             file: ./Dockerfile
#             push: true
#             tags: ${{ secrets.DOCKER_USER }}/EducAPI:latest

#     # https://github.com/appleboy/ssh-action
#     connect-server:
#         runs-on: ubuntu-latest
#         name: Connect Server
#         needs: [build-and-push-dockerfile]
#         uses: appleboy/scp-action@master
#         with:
#             host: ${{ secrets.SERVER_IP }}
#             username: ${{ secrets.SERVER_LOGIN }}
#             key: ${{ secrets.SERVER_PASSWORD }}
#             source: "./docker-compose-prod.yml"
#             target: "/home/deploy/EducAPI"
    
#     # https://github.com/appleboy/ssh-action
#     run-project-server:
#         runs-on:
#         name: Run the project on the server
#         uses: [connect-server]
#         uses: appleboy/ssh-action@master
#         with:
#             host: ${{ secrets.SERVER_IP }}
#             username: ${{ secrets.SERVER_LOGIN }}
#             key: ${{ secrets.SERVER_PASSWORD }}
#             # Change to pass environment variables via command
#             script: docker stop educapi && docker rm -f educapi && cd /home/deploy/EducAPI && docker-compose -f docker-compose-prod.yml up educapi --build -d -e DB_URL=${{ secret.DB_URL }} -e DB_USER=${{ secret.DB_USER }} -e DB_PASSWORD=${{ secret.DB_PASSWORD }} 
